
    <!-- <footer class="footer py-3 mt-auto" >
      <div class="main">
    <i class="fa-brands fa-twitter footcons"></i>
    <i class="fa-brands fa-facebook footcons"></i>
    <i class="fa-brands fa-instagram footcons"></i>
    <i class="fa-sharp fa-solid fa-envelope footcons"></i>
  </div>
    
      </footer> -->

      <footer class="footer mt-auto py-3 bg-light">
        <div class="main text-muted">
          <span class="px-3">&copy; BudgetDucky 2023</span>
        </div>
      </footer>
      
