
    <footer id="footer">
    <i class="fa-brands fa-twitter footcons"></i>
    <i class="fa-brands fa-facebook footcons"></i>
    <i class="fa-brands fa-instagram footcons"></i>
    <i class="fa-sharp fa-solid fa-envelope footcons"></i>
    
      </footer>
      

</body>
</html>